#titre1 {
    color:orange;
    font-family:Brush Script MT, sans-serif;
    font-size:100px;
    text-align: center;
}
.login {
    text-align: right;
    color:black;
    background-color: black;
}
.menu 
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: right;
}
li {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: right;
    padding: 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111111;
}
</style>
}
#bouffe {
 background-image: url("logo.png.jpg")
}

.btn{
    color:white;
    background-color:#333333;
    display:block;
    margin:auto;
}

#espace{
    padding-top: 20px
}

.carousel{
        text-align: center;
        margin-left: auto; 
    margin-right: auto; 
}

.espace{
    padding-top: 15px;
}

.btn1{
    color:white;
    background-color:orange;
    display:inline;
    border:0px;
    padding-right:130px;
    font-size: 40px;
    padding-left: 130px;
}

.conso{
    margin:25px;
}

h3{
    text-align: center;
    font-size: 30px;
}

.bonjour{
    text-align: center;
   padding-left: 460px;
    display: inline;
}

.btn2{
      color:white;
    background-color:#333333;
text-align: center;
    border:0px;
    font-size: 30px;

}

#mapholder{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
}

h4{
    text-align: center;
    padding-top: 15px;
    font-size: 30px;
    padding-bottom: 30px;
}

.container{
    text-align: center;
}

.my-fa{
    font-size: 60px;
    color:orange;
}




